:root {
    --primary-light: #70908B;
    --primary-dark:  #07484A;

    --secondary-green: #CAF3E5;
    --secondary-blue:  #E0EFF6;
    --secondary-pink:  #EEEBFF;
    --secondary-beige: #FFF4E7;
    --secondary-white: #FDFBF8; 
}